<!-- DATOS DEL AB -->
<div class="row" ng-controller="ABDetailCtrl as abFormCtrl">

  <div class="col-lg-6">
    <div class="panel panel-primary">
      <div class="panel-heading">
        {{selectedAb.id}} <span class="label label-default" ng-class="{'label-success': selectedAb.activated}">{{selectedAb.activated ? 'AB ACTIVADO' : 'AB DESACTIVADO'}}</span>

        <button type="button" class="btn btn-info" ng-click="abFormCtrl.editAb(selectedAb)">Edit AB</button>
      </div>
      <div class="panel-body">

        <p>{{selectedAb.description}}</p>

        <!-- Flows -->
        <div class="panel panel-info flows-holder">
          <div class="panel-heading">
            Flows
          </div>
          <div class="panel-body">
            <div class="list-group flow-item" ng-repeat="flow in selectedAb.flows">

              <!-- Activated -->
              <span class="label label-default" ng-class="{'label-primary': flow.activated}">{{flow.activated ? 'FLOW ACTIVADO' : 'FLOW DESACTIVADO'}}</span>

              <!-- Validations -->
              <ul ng-if="flow.validations">
                <strong>Validations</strong>
                <li ng-if="flow.validations.site">Site: {{flow.validations.site}}</li>
                <li ng-if="flow.validations.destination">Destination: {{flow.validations.destination}}</li>
                <li ng-if="flow.validations.flow">Flow: {{flow.validations.flow}}</li>
                <li ng-if="flow.validations.startDate">Start Date: {{flow.validations.startDate}}</li>
                <li ng-if="flow.validations.endDate">End Date: {{flow.validations.endDate}}</li>
              </ul>

              <!-- Ranges -->
              <ul ng-if="flow.ranges">
                <strong>Ranges</strong>
                <li ng-repeat="range in flow.ranges">{{range.value}} {{range.startRange}} a {{range.endRange}}</li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <!-- Form -->
  <div class="col-lg-6">
    <form name="abForm" ng-controller="ABDetailCtrl as abFormCtrl" ng-submit="abFormCtrl.addABTesting()">
      <div class="form-group">
        <label for="abNameInput">AB Testing Name/ID</label>
        <input type="text" class="form-control" id="abNameInput" ng-model="abFormCtrl.abTesting.id">
      </div>
      <div class="form-group">
        <label for="abDescriptionInput">AB Testing Description</label>
        <textarea class="form-control" rows="3" ng-model="abFormCtrl.abTesting.description"></textarea>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="abFormCtrl.abTesting.activated"> Activated?
        </label>
      </div>

      <!-- FLOWS DEL FORM -->

      <!-- aca viene un ng-repeat por flows, igual que con ranges más abajo, que engloba todo lo de abajo -->
      <div class="panel panel-info">
        <div class="panel-heading">
          FLOWS <button type="button" class="btn btn-primary" ng-click="abFormCtrl.addFlow()">Add Flow</button>
        </div>
        <div class="panel-body">

          <div class="flow-holder" ng-repeat="flow in abFormCtrl.abTesting.flows">

            <p class="bg-info">VALIDATIONS</p>

            <!-- Site, Destination and Flow -->
            <div class="form-group">
              <label for="abValidationSiteInput">Site</label>
              <input type="text" class="form-control" id="abValidationSiteInput" ng-model="flow.validations.site">
            </div>

            <div class="form-group">
              <label for="abValidationDestinationInput">Destination</label>
              <input type="text" class="form-control" id="abValidationDestinationInput" ng-model="flow.validations.destination">
            </div>

            <div class="form-group">
              <label for="abValidationFlowInput">Flow</label>
              <select class="form-control" id="abValidationFlowInput" ng-model="flow.validations.flow">
                <option value="shopping">Shopping</option>
                <option value="landing">Landing</option>
              </select>
            </div>

            <!-- Start and End Date -->
            <div class="row">
              <div class="form-group col-lg-6">
                <label for="abValidationStartDateInput">Start Date</label>
                <input type="date" class="form-control" id="abValidationStartDateInput" ng-model="flow.validations.startDate">
              </div>

              <div class="form-group col-lg-6">
                <label for="abValidationEndDateInput">End Date</label>
                <input type="date" class="form-control" id="abValidationEndDateInput" ng-model="flow.validations.endDate">
              </div>
            </div>

            <!-- Ranges -->
            <p class="bg-info">RANGES</p>

            <div class="form-group">
              <button type="button" class="btn btn-primary" ng-click="abFormCtrl.addRange(flow)">Add Range</button>
            </div>
            <div class="row ranges-holder" ng-repeat="range in flow.ranges">
              <div class="form-group col-lg-4">
                <label>Value</label>
                <input type="text" class="form-control" ng-model="range.value">
              </div>
              <div class="form-group col-lg-4">
                <label>Start Range</label>
                <input type="text" class="form-control" ng-model="range.startRange">
              </div>
              <div class="form-group col-lg-4">
                <label>End Range</label>
                <input type="text" class="form-control" ng-model="range.endRange">
              </div>
            </div>

          </div>

        </div>
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>

</div>